<div id="signers-pg">
    <h1>This is the signers page</h1>
    {{#if cityPage}}
    <h2>Below are the people have signed our petition in <span>{{city}}</span> so far.</h2>
    {{else}}
    <h2>Below are the people have signed our petition so far.</h2>
    {{/if}}
    {{#rows}}
        <li >{{first}} {{last}} {{age}} <a href="signers/{{city}}" class="pg-link">{{city}}</a> </li>
    {{/rows}}
</div>